@import "tailwindcss";

:root {
    color-scheme: dark;
    --background: #19192d;
    --foreground: #171717;
    --foreground-dark: oklch(0.7 0 0);
    --toryx-blue: oklch(0.6411 0.1477 259.76);
    --toryx-blue-dark: oklch(0.4411 0.1477 259.76);
    --toryx-gradient: linear-gradient(180deg, var(--toryx-blue) 0%, var(--toryx-blue-dark) 100%);
    --toryx-gradient-left: linear-gradient(90deg, var(--toryx-blue) 0%, transparent 80%);
    --toryx-gradient-right: linear-gradient(-90deg, var(--toryx-blue) 0%, transparent 80%);
    --grid-color: #ffffff08;
    --shadow-blue-hover: 0 0 20px var(--toryx-blue-dark);
    --shadow-neutral-hover: 0 0 20px transparent;
    --shadow-white-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
    --shadow-white-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
    --shadow-white-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;
}

@theme inline {
    --color-background: var(--background);
    --color-background-dark: var(--background-dark);
    --color-background-light: var(--background-light);
    --color-background-extra-light: var(--background-extra-light);
    --color-foreground: var(--foreground);
    --color-foreground-dark: var(--foreground-dark);
    --color-primary: var(--toryx-blue);
    --color-primary-dark: var(--toryx-blue-dark);
    --font-sans: var(--font-inter-sans);
    --font-barlow: var(--font-barlow-sans);
    --font-cascadia: var(--font-cascadia-sans);
    --shadow-s: var(--shadow-white-s);
    --shadow-m: var(--shadow-white-m);
    --shadow-l: var(--shadow-white-l);
    --shadow-hovered: var(--shadow-blue-hover);
    --shadow-neutral: var(--shadow-neutral-hover);
    --breakpoint-xs: 30rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-dark: oklch(0.165 0.0371 282.84);
        --background: oklch(0.185 0.0371 282.84);
        --background-light: oklch(0.200 0.0371 282.84);
        --background-extra-light: oklch(0.250 0.0371 282.84);
        --foreground: oklch(0.92 0 0);
        --foreground-dark: oklch(0.8 0.0126 200);
        --foreground-extra-dark: oklch(0.3 0.0126 200);
    }
}



h1, h2, h3, h4, h5, h6 {
    color: var(--foreground);
    font-family: var(--font-barlow-sans), sans-serif;
    font-weight: 700;
}

body {
    background-color: var(--background-dark);
    font-family: var(--font-sans), sans-serif;
    color: var(--foreground);
    background-size: 40px 40px;
    background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
}

button {
    cursor: pointer;
}


.bg-dark-radial {
    background: radial-gradient(50% 50% at 50% 50%, #112d52 0, transparent 100%)
}

.bg-toryx-gradient {
    background: var(--toryx-gradient);
}

.border-toryx-gradient {
    position: relative;
}

.border-toryx-gradient:after {
    background: var(--toryx-gradient);
    content: "";
    position: absolute;
    z-index: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    inset: 0;
    padding: 2px;
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    border-radius: inherit;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: oklch(0.200 0.0371 282.84);
    box-shadow: var(--shadow-m);
    border-radius: 10px;
    padding: 16px;
    position: relative;
}

.card .image-container{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card > *:nth-child(1):after{
    content: "";
    width: 60%;
    display: block;
    margin: 16px auto;
    background-color: var(--foreground-extra-dark);
    height: 1px;
}

.card .image-container:after{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(transparent, var(--background-light));
}

.card .image-container img{
    display: block;
    width: 100%;
    height: auto;
}

.card h3 {
    font-size: 1rem;
}

.card p {
    color: var(--foreground-dark);
    font-size: 0.85rem;
}

.solution-card {
    position: relative;
    display: flex;
    padding: 28px;
    width: 100%;
}

.solution-card:after {
    background: var(--toryx-gradient-left);
    content: "";
    position: absolute;
    z-index: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    inset: 0;
    padding: 2px;
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    border-radius: inherit;
}

.solution-card:nth-child(even):after {
    background: var(--toryx-gradient-right);
}